.homepageContent {
  display: flex;
  position: relative;
  left: 290px;
  flex-direction: column;
  /* background: linear-gradient(rgb(253, 202, 253), rgb(231, 108, 231)); */
  padding: 20px;
  width: 1200px;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 247, 246);
  border-radius: 10px;
  top: -200px;
}
.expensesMoreDetails {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 520px) {
  .homepageContent {
    top: 150px;
    width: 100%;
    left: 0px;
    transform: translate(0);
    padding: 0px 7px;
  }
  .expensesMoreDetails{
    width: 100%;
  }
  .expensesMoreDetails{
    flex-direction: column;
    padding: 0px 7px;
  }
}