.categoriesExpenses {
  display: flex;
  /* width: 912px; */
  background-color: azure;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  min-width: 450px;
  max-width: 912px;
  margin: 55px auto 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
}
