.overviewItem {
  display: flex;
  width: 25%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin-left: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.overviewItemInfo {
  display: flex;
  flex-direction: column;
}
.overviewItemInfo span:nth-child(1) {
  color: rgb(136, 136, 112);
}
.overviewItemInfo span:nth-child(2) {
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.income {
  border: 2px solid rgb(4, 223, 4);
  border-radius: 15px;
}
.expense {
  border: 2px solid red;
  border-radius: 15px;
}
.balance {
  border: 2px solid goldenrod;
  border-radius: 15px;
}
@media screen and (max-width: 520px) {
  .overviewItem {
    background-color: antiquewhite;
    padding: 5px;
    width: 33%;
    margin-left: 11px;
  }
  .balance {
    margin-right: 10px;
  }
  .title {
    font-size: 0.7rem;
  }
  .value {
    font-size: 0.8rem;
  }
  .valueType{
    font-size: 0.6rem;
    font-weight: 700;
  }
  }