.emptyDataContainer{
    width: 450px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.message{
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.4px;
}
@media screen and (max-width: 520px) {
.emptyDataContainer{
width: 100%;

}
}