.expensesMainInfo {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  margin-bottom: 45px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 520px) {
.expensesMainInfo {
  width: 100%;
  margin-bottom: 25px;
}
}