.barNavigation {
}
.mainAppHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(252, 170, 252);
}
.appName {
  margin-left: 15px;
  color: rgb(73, 73, 72);
}
.mainAppHeading .username {
  font-style: italic;
  letter-spacing: 0.8px;
  color: rgb(241, 241, 155);
  margin-left: 5px;
}
.searchingTransaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 250px;
  /* border: 1px solid black; */
  border-radius: 4px;
}
.searchForm{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 250px;
  border: 1px solid black;
  border-radius: 4px;
}
.searchingTransaction input {
  background-color: transparent;
  border: none;
  width: 85%;
}
.searchingTransaction input:focus {
  outline: none;
}
.avatar {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: 20px; */
}
.avatar svg {
  font-size: 1.5rem;
  border: 1px solid grey;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.avatar .profileOptions {
  display: flex;
  flex-direction: column;
}
.avatar .profileOptions .signOutOption {
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
}
.avatar .profileOptions .signOutOption:hover {
  background-color: beige;
}
.avatar svg:hover {
  background-color: white;
}
.navigation {
  display: flex;
  flex-direction: column;
  background-color: rgb(35, 36, 35);
  color: white;
  width: 220px;
  border-bottom-right-radius: 10px;
}
.navLink {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}
.navLink svg {
  margin-right: 20px;
  margin-left: 15px;
}
.navLink:hover {
  background-color: rgb(184, 123, 184);
}
.sidebar {
  display: flex;
  flex-direction: row;
  transform: translateX(0);
  transition: transform 0.3s ease-in;
}
.menuOption {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 8px 0 0 8px;
}

.hideSidebar {
  transform: translateX(-220px);
  transition: transform 0.3s ease-in;
}

.menuBar {
  width: 30px;
  height: 1.5px;
  background-color: #333;
  margin: 2px 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.active .menuBar:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.active .menuBar:nth-child(2) {
  opacity: 0;
}

.active .menuBar:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

@media screen and (max-width: 550px){
  .barNavigation {
    position: absolute;
    width: 100%;
  }
  .appName{
    margin-left: 7px;
    font-size: 1.2rem;
    width: 28%;
  }
  .mainAppHeading h2 {
    width: 33%;
    font-size: 0.9rem;
    margin-left: 5px;
    letter-spacing: 0.8px;
  }
  .mainAppHeading .username{
    	font-size: 1rem;
  }
  .searchingTransaction {
    width: 35%;
    padding: 5px;
  }
  .searchForm {
    padding: 5px;
  }
  .searchingTransaction input::placeholder{
    font-size: 0.7rem;
  }
  .menuBar{
    width: 25px;
    height: 2px;
    margin: 1.8px 0;
  }
  .navigation {
    width: 180px;
  }
  .hideSidebar {
    transform: translateX(-180px);
    transition: transform 0.3s ease-in;
  }
  .navLink {
    margin: 7px 0;
    padding: 6px;
  }
  .navLink svg {
    font-size: 1.1rem;
    margin-right:15px;
  margin-left: 10px;
  }
  .navLink span {
    letter-spacing: 0.4px;
    font-size: 0.8rem;
  }
  .navLink:hover {
    background-color: transparent;
  }
}