
.footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    color: white;
    padding: 10px;
    background-color: rgb(32, 32, 32);
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
}
.version {
    font-size: 0.4rem;
    color: bisque;
}