
.loaderItem{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 6px solid rgb(200, 204, 204);
    border-top: 6px solid rgb(64, 64, 250);
    animation: loading-spinner 1.6s infinite;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}